html {
  box-sizing: border-box;
  min-height: 100%;
  background-color: rgb(226, 216, 217);
}

.grid {
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
  grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
  grid-column-gap: 9px;
  grid-row-gap: 50px;
}

/*  */
.header {
  /* tablete background: rgb(226, 216, 217); */
  background-color: black;
  back grid-column-start: x0;
  grid-column-end: x3;
  /* Equivalente a */
  grid-column: x0 / x3;
  /* flex-content: */
  padding: 20px;
}

.sidebar {
  background: rgb(124, 189, 166);
  grid-row: y1 / y3;
  color: white;
  margin-left: 1.5rem;
}

/* .space{
  background: red;
  grid-column: x0/x3;
  grid-column-start: x0;
  grid-column-end: x3;
  height: 20px;
  grid-row: y1/y2;
} */
.content {
  background: black;
  grid-column: x1 / x3;
  grid-row: y1 / y3;
  margin-right: 1.5rem;
}

.footer {
  /* background: rgb(157, 205, 156); */
  grid-column: x0 / x3;
  grid-row: y3;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.imagenfondo {
  height: 400px;
  width: 1200px;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-image: url(../igm/fondo.jpg);
  /* margin-bottom: 2rem; */
  position: relative;
}

.contenido-imagenfondo {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-imagenfondo h1 {
  color: white;
}

.boton {
  background-color: #72a0a4;
  color: white;
  margin-top: .5rem;
  padding: .5rem 3rem;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
}

.boton2 {
  background-color: #72a0a4;
  color: white;
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: .5rem 3rem;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
}

.boton: hover {
  cursor: pointer;
}

#aside {
  margin-right: 30px;
  padding: 15px;
}

#side {
  text-align: center
}

.dialogos {
  margin-bottom: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.dialogos img {
  width: 100%;
}

.dialogos-info {
  padding: 5px;
}

.dialogos-info a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: all 300ms;
  margin-left: 7rem;
}

.info p {
  color: black;
  margin-left: 2rem;
}

.info {
  padding: 2px;
  margin-top: 5rem;
}

.info a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: all 300ms;
  margin-left: 2rem;
}

.info p {
  color: black;
  margin-left: 2rem;
}

.marco2 {
  margin-left: 2rem;
}

.footer h2 {
  margin-left: 27rem;
}

#nombre {
  margin-left: 36rem;
}

#copy {
  margin-left: 37rem;
}

.image-wrap {
  height: 190px;
  width: 190px;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

#cuadros {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 100%;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* padding: 1rem; */
}



.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.bot{
  margin-left: 450px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  background-color: #fff;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

a.l {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12,
.col-sm-6,
.col-md-6,
.col-lg-2,
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-dark {
  color: #fff;
  background-color: #E96713;
  border-color: white;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-menu.show {
  display: block;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand-lg .navbar-toggler {
  display: none;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.bg-dark {
  background-color: #20052E !important;
}

.rounded-pill {
  border-radius: 50rem !important;

}

.d-inline-block {
  display: inline-block !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media print {

  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

/* 2 columnas - configuración para el menú izquierdo */
.envoltura .columnas {
  right: 85%;
  margin-top: 10px;
}

.envoltura .col1 {
  width: 83%;
  /* el ancho de la columna derecha */
  left: 100%;
  background: #fff;
  padding: 5px;
  min-height: 40px;
}

.envoltura .col2 {
  width: 13%;
  /* el ancho de la columna izquierda */
  left: 2%;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Etilos de barra lateral 1 */

.form-register {
  width: 300px;
  background: #2F0743;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;

}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: #868686;
}
.controls2 {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: 'calibri';
  font-size: 18px;
  color: #868686;
}

.controls3 {
  width: 49%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: 'calibri';
  font-size: 18px;
  color: #868686;
}
.controls4 {
  width: 49%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: 'calibri';
  font-size: 18px;
  color: #868686;
}

.control{
  width: 49%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.contro {
  width: 49%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}


.form-register .boton {
  width: 100%;
  background: #E96713;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}



/* Etilos de barra lateral 2 */




.register {
  width: 300px;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;

}



.con {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: #868686;
}


.negro{

color: black;
}

.selec{
	color: black;
}




.register p {
  height: 40px;
  color: black;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.register a {
  color: black;
  text-decoration: none;
}

.register a:hover {
  color: black;
  text-decoration: underline;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.navegacion {
  width: 100%;
}

.navegacion nav {
  width: 100%;
  max-width: 1200px;
  background: white;
  margin: 40px;
}

.navegacion nav ul {
  list-style: none;
  position: relative;
}

.navegacion nav>ul>li {
  display: inline-block;
}

.navegacion nav>ul>li>a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 30px;
}

.navegacion nav img {
  display: inline-block;
  margin-top: 10px;
}

.navegacion nav>ul>li>a span {
  font-size: 20px;
  /* position: absolute; */
  display: none;
}

.navegacion nav>ul>li:hover span {
  display: block;
}

.navegacion nav ul li .submenu {
  background: #e3e3e3;
  padding: 20px;
  position: absolute;
  display: none;
}

.navegacion nav ul li:hover .submenu {
  display: flex;
}

.navegacion nav ul li .submenu .submenu-items {
  margin: 0 20px;
}

.navegacion nav ul li .submenu .submenu-items p {
  font-weight: 600;
  width: 110px;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #565656;
  margin-bottom: 10px;
}

.navegacion nav ul li .submenu .submenu-items a {
  color: #454545;
  text-decoration: none;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.navegacion nav ul li .submenu .submenu-items a:hover {
  color: red;
}

a.l{
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
  color: #fff;
  background-color: #F17A16;
  border-color: #F17A16;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.bot{
  margin-left: 450px;
}
