@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url(fontello.css);
* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.navegacion {
  width: 100%;
}

.navegacion nav {
  width: 100%;
  max-width: 1200px;
  background: white;
  margin: 40px;
}

.navegacion nav ul {
  list-style: none;
  position: relative;
}

.navegacion nav > ul > li {
  display: inline-block;
}

.navegacion nav > ul > li > a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 30px;
}

.navegacion nav  img {
  display: inline-block;
  margin-top: 10px;
}

.navegacion nav > ul > li > a span{
  font-size: 20px;
  /* position: absolute; */
  display: none;
}

.navegacion nav > ul > li:hover span{
  display: block;
}

.navegacion nav ul li .submenu{
  background: #e3e3e3;
  padding: 20px;
  position: absolute;
  display: none;
}

.navegacion nav ul li:hover .submenu{
  display: flex;
}

.navegacion nav ul li .submenu .submenu-items{
  margin: 0 20px;
}

.navegacion nav ul li .submenu .submenu-items p{
  font-weight: 600;
  width: 110px;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #565656;
  margin-bottom: 10px;
}

.navegacion nav ul li .submenu .submenu-items a{
  color: #454545;
  text-decoration: none;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.navegacion nav ul li .submenu .submenu-items a:hover{
  color: red;
}
